<div id="default-version-link">

  <% if version.link.attached? %>
    <div class="d-flex gap-1 justify-content-start">
      <%= link_to "View", rails_blob_url(version.link, disposition: "preview"), target: "_blank", class: "btn btn-outline-primary" %>

      <%= link_to "Download", rails_blob_url(version.link, disposition: "attachment"), class: "btn btn-outline-primary" %>

      <%#= link_to "Share", rails_blob_url(version.link, host: request.base_url), target: "_blank", class: "btn btn-outline-primary" %>
    </div>

  <% else %>
    <p class="fw-semibold"><%= version.name %></p>
    <p class="fst-italic">No file attachment.</p>
  <% end %>

</div>
