<div id="default-version-link" class="d-flex gap-1 justify-content-start flex-wrap">

  <% if version.link.attached? %>
    <%= render "versions/links", version: version %>

  <% else %>
    <div>
      <p class="fw-semibold">Default version name: <%= version.name %></p>
      <p class="fst-italic">No file attachment.</p>
    </div>
  <% end %>

</div>
