<div class="container-fluid justify-content-center text-center m-3">
  <div>
    <h1>Add a file container</h1>
    <%= render "form", folder: @folder %>
  </div>
  
  <br>

  <div>
    <%= link_to "Back to all files", folders_path %>
  </div>
</div>
