<footer>
  <div class="container py-3 my-4 text-center">
    Developed by 
    <a class="link-success" href="https://grace1501.github.io/grace-do-link-in-bio/"><em>Grace Do</em></a>
  </div> 
</footer>
 