<div class="container">
  <div class="row flex-center">

    <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
        <h1 class="fw-light">
          Welcome to <span class="fw-bolder">ManaVer</span>
        </h1>

        <h3>
          Manage your file versions <br> with ease. 
        </h3>

        <p class="mt-3 mb-4">Boost productivity by spending less time searching and more time working.<br>Ensure everyone stays on the same, most up-to-date version.</p>
        
        <a class="btn btn-lg btn-success hover-top btn-glow" href="/users/sign_up">Get Started </a>

    </div>

    <div class="col-lg-6 col-md-5 order-sm-1">
      <%= image_tag "hero_image.jpg", alt: "Hero image", class: "img-fluid" %>
    </div>

  </div>
</div>
