<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%# NOTE: We were not able to run this locally, since we do not have the key for the username. but we would love to see this in action %>
<form action="/run_task">
  <button>
    Run the task
  </button>
</form>
